@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  --body-bg-color: #f0f0f0;
  --img-border-color: #dddddd;
  --arrow-color: #888888;
  --toolbar-bg-color: 255, 255, 255;
  --toolbar-title-color: 96, 96, 96;
  --text-color: black;
  --toggle-background-color: #f0f0f0;
  --toggle-background-color-checked: #e0e0e0;
  --toggle-nib-color: #c0c0c0;
  --toggle-nib-color-checked: #848484;
  --menu-subtitle-color: #808080;
  --menu-icon: url('menu.svg');
  --page-vertical-margin: 50px;
  --scrubber-background-rgb: 0, 0, 0;
  --scrubber-background-opacity: 0.6;
  --active-scrubber-color: white;
  --scrubber-icon: url('scroll.svg');
  background-color: var(--body-bg-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

body.dark {
  --body-bg-color: black;
  --img-border-color: black;
  --arrow-color: #888888;
  --toolbar-bg-color: 44, 41, 45;
  --toolbar-title-color: 192, 192, 192;
  --text-color: #ccc;
  --toggle-background-color: #585858;
  --toggle-background-color-checked: #808080;
  --toggle-nib-color: #4a4a4a;
  --toggle-nib-color-checked: #4a4a4a;
  --menu-subtitle-color: #8c8c8c;
  --menu-icon: url('menu-light.svg');
  --scrubber-icon: url('scroll-light.svg');
}

body.seamless {
  --page-vertical-margin: 0;
}

/* Override user agent stylesheet */
button,
input {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

.image {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--img-border-color);
  display: block;
  margin: auto;
}

.seamless .image {
  box-shadow: none;
  border-radius: 0;
  border: none;
}

a[href='#_none'] {
  display: none;
}

.next,
.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev {
  left: 0;
  right: 50%;
  text-align: left;
}

.next {
  left: 50%;
  right: 0;
  text-align: right;
}

.page {
  position: relative;
  text-align: center;
  margin-top: var(--page-vertical-margin);
}

.arrow {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  z-index: -1;
  color: var(--arrow-color);
  font-size: 80px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background 0.2s, height 0.2s;
  background: rgba(var(--toolbar-bg-color), 0);
  height: 240px;
  overflow: hidden;
}

.toolbar:hover {
  background: rgba(var(--toolbar-bg-color), 1);
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.17);

  /* Note: this is the exact height of the menu. Must be explicitly set in order to animate
  height transition */
  height: 597px;
}

.toolbar .menu-icon {
  background: var(--menu-icon);
  background-size: cover;
  width: 32px;
  height: 32px;
  margin: 14px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-icon {
  opacity: 0.5;
}

.menu-header {
  display: flex;
  align-items: center;
}

.toolbar .menu-title {
  font-weight: bold;
  color: rgb(var(--toolbar-title-color));
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-title {
  opacity: 1;
}

.toolbar .menu-items {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-items {
  opacity: 1;
}

.menu-items button {
  padding: 12px 24px 12px 60px;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.menu-items button:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.menu-subtitle {
  font-size: 13px;
  font-weight: 700;
  color: var(--menu-subtitle-color);
  padding: 16px 0 12px 24px;
}

label {
  font-size: 14px;
}

.label-toggle {
  position: relative;
  cursor: pointer;
  padding: 12px 24px 12px 36px;
  margin-left: 24px;
}

.label-toggle .input-toggle {
  opacity: 0;
  position: absolute;
}

.label-toggle .input-toggle + *::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
  width: 20px;
  height: 12px;
  background: var(--toggle-background-color);
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.3s;
}

.label-toggle .input-toggle:checked + *::before {
  background: var(--toggle-background-color-checked);
}

.label-toggle .input-toggle + *::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 2px;
  background: var(--toggle-nib-color);
  width: 8px;
  height: 8px;
  border-radius: 5px;
  transition: all 0.3s;
  transform: translateX(0);
}

.label-toggle .input-toggle:checked + *::after {
  transform: translateX(8px);
  background: var(--toggle-nib-color-checked);
}

#scrubber-icon {
  position: fixed;
  right: 0;
  top: 0;
  background: var(--scrubber-icon) top/cover;
  width: 22px;
  height: 22px;
  margin: 18px;
  opacity: 0.2;
}

#scrubber-container {
  position: fixed;
  right: 0;
  top: 0;
  padding-left: 128px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(var(--scrubber-background-rgb), 0) 0%,
    rgba(var(--scrubber-background-rgb), var(--scrubber-background-opacity)) 100%
  );
  opacity: 0;
  transition: opacity 0.2s;
  overflow: hidden;
  pointer-events: none;
}

#scrubber {
  width: 90px;
  cursor: pointer;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
}

#scrubber-preview {
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Makes the scroll calculation easier */
  padding-bottom: 8px;
}

.scrubber-preview-image {
  height: 180px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.35);
}

.scrubber-preview-image.hovered {
  box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.75);
}

#scrubber-marker {
  height: 32px;
  width: 64px;
  background: rgb(var(--toolbar-bg-color));
  color: var(--text-color);
  font-weight: 700;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 8px;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  position: fixed;
  right: 8px;
  top: 0;
  z-index: 1;
}

#scrubber-marker::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -13px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 13px solid rgb(var(--toolbar-bg-color));
}

#scrubber-marker-active {
  height: 32px;
  width: 70px;
  color: var(--active-scrubber-color);
  position: fixed;
  right: 8px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  pointer-events: none;
}

#version {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 14px;
  color: #d2d2d2;
  text-shadow: white 1px 1px;
}

#update-toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 12px 16px;
  background: rgba(var(--toolbar-bg-color), 1);
  border-radius: 5px;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  display: none;
  z-index: 2;
  color: #909090;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.17);
}

#update-toast:hover {
  opacity: 1;
}

#update-toast.show {
  opacity: 1;
}

#link-update {
  color: #4985b5;
}
