@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #f0f0f0;
  font-family: Roboto, sans-serif;
}

/* Override user agent stylesheet */
button,
input {
  font-family: Roboto, sans-serif;
}

img {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}

a[href='#_none'] {
  display: none;
}

.next,
.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev {
  left: 0;
  right: 50%;
  text-align: left;
}

.next {
  left: 50%;
  right: 0;
  text-align: right;
}

.page {
  position: relative;
  text-align: center;
  margin: 50px 0;
}

.arrow {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  z-index: -1;
  color: #888888;
  font-size: 80px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background 0.2s;
  background: rgba(255, 255, 255, 0);
}

.toolbar:hover {
  background: rgba(255, 255, 255, 1);
}

.toolbar .menu-icon {
  background: url(menu.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  margin: 14px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-icon {
  opacity: 0.5;
}

.menu-header {
  display: flex;
  align-items: center;
}

.toolbar .menu-title {
  font-weight: bold;
  color: rgb(96, 96, 96);
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-title {
  opacity: 1;
}

.toolbar .menu-items {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-items {
  opacity: 1;
}

.menu-items button {
  padding: 12px 24px 12px 60px;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: left;
  font-size: 14px;
}

.menu-items button:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

label {
  font-size: 14px;
}

.label-toggle {
  position: relative;
  cursor: pointer;
  padding: 12px 24px 12px 36px;
  margin-left: 24px;
}

.label-toggle .input-toggle {
  opacity: 0;
  position: absolute;
}

.label-toggle .input-toggle + *::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
  width: 20px;
  height: 12px;
  background: #f0f0f0;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.3s;
}

.label-toggle .input-toggle:checked + *::before {
  background: #e0e0e0;
}

.label-toggle .input-toggle + *::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 2px;
  background: #c0c0c0;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  transition: all 0.3s;
  transform: translateX(0);
}

.label-toggle .input-toggle:checked + *::after {
  transform: translateX(8px);
  background: #848484;
}

#version {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 14px;
  color: #d2d2d2;
  text-shadow: white 1px 1px;
}

#update-toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 12px 16px;
  background: white;
  border-radius: 5px;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  display: none;
  z-index: 2;
  color: #909090;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.17);
}

#update-toast:hover {
  opacity: 1;
}

#update-toast.show {
  opacity: 1;
}

#link-update {
  color: #4985b5;
}
