body {
  background-color: #f0f0f0;
}

img {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}

.next,
.prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.prev {
  left: 0;
  right: 50%;
  text-align: left;
}

.next {
  left: 50%;
  right: 0;
  text-align: right;
}

.page {
  position: relative;
  text-align: center;
  margin: 50px 0;
}

.arrow {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  z-index: -1;
  color: #888888;
  font-size: 80px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: 'Franklin Gothic Medium', Arial, Helvetica, sans-serif;
  transition: background 0.2s;
  background: rgba(255, 255, 255, 0);
}

.toolbar:hover {
  background: rgba(255, 255, 255, 1);
}

.toolbar .menu-icon {
  background: url(menu.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  margin: 14px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-icon {
  opacity: 0.5;
}

.menu-header {
  display: flex;
  align-items: center;
}

.toolbar .menu-title {
  font-weight: bold;
  color: rgb(96, 96, 96);
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-title {
  opacity: 1;
}

.toolbar .menu-items {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  opacity: 0;
  transition: opacity 0.2s;
}

.toolbar:hover .menu-items {
  opacity: 1;
}

.menu-items button {
  padding: 12px 24px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: left;
}

.menu-items button:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
